<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNgTest">
<groups>
  <run>
   <include name="regression"></include>
  </run>
</groups>
	<test name="MyFirstTest">
		<classes>
			<class name="com.website.RunTest"></class>

		</classes>

	</test>
</suite>